/* Empty file */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1917;
}

::-webkit-scrollbar-thumb {
  background: #3a332f;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9a5243;
}
